	
	html, body { 
		height: 100%; 
		width: 100%; 
		margin: 0; 
		background-color: #ffffff;
		font-family: Verdana, Geneva, sans-serif;
	}

	.map {
		margin: 0;
		padding: 0;
		width: 75%;
		height: 100%;
		z-index: -1;
		float: left;
	}	
	
	#map{
		position: relative;	
		z-index: 0;
	}
  
	#menu {
		float: right; 
		width: 25%;
		align: center;
		text-align: center;
	}
	
	#json_info_div{
		align: center;
		width: 80%
	}
	
	#list{
		font-size: 12px;
	}
	
	#sliderDiv{
		text-align: center;
		padding-right: 15px;
		padding-left: 15px;
	}
	/*
	#time_slider{
		width: 60%;
	}
	*/
	#sliderAndButtons{
		width: 100%;
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		text-align: center;
		float:left;
		padding-top: 5px;
	}
	/*	
	#timeslider_button_left{
		width: 10%;
		display: inline-block;
	}
	
	#timeslider_button_right{
		width: 10%;
		display: inline-block;
	}
	*/
	#sliderOnly{
		width: 80%;
		display: inline-block;
	}
	
  
	.drop_zone{
		height: 70px;
		width: 45%;
		float: left;
		line-height: 70px;
		margin: 10px;
		border: 1px;
		border-style: dashed;
		border-color: #222222;
		background-color: #f0f6fb;

	}
  
	#canvas_div{
		height: 100%;
		width: 90%;
		position: relative;
		margin-top: 10px;
		visibility: hidden;
	}
	
	#myChart{
		height: 100%;
	}
	#snapshot_div{
		width: 100%;
		margin-left: 45px;
		margin-right: 10 px;
		overflow: auto;
	}
	#playbutton_div{
		height: 40px;
		height: 40px;
	}
	
	#weekday_div {
		margin-top: 30px;
		margin-bottom: 15px;	
	}
	/* Checkoboxes for selecting Weekday */	
	.input-check{
		display:inline-block;
		height:20px;
		padding-top: 3px;
		padding-bottom: 3px;
		background:#A4C4E8;
		width:12%;
		color:white;
		font-weight:bold;
		font-size: 14px;
		/* Make Text Unselectable */
		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		cursor: pointer;
		border: 0.2px solid #ffffff;
	}
	.input-check:hover {
		border-color: #A4C4E8;
	}
	
	
	/* This is the style for a checked "button" */
	.input-check.checked{
		display:inline-block;
		background:#4A74AA;
		color:white;
		font-weight:bold;
		padding-top: 3px;
		padding-bottom: 3px;
		font-size: 14px;
		/* Make Text Unselectable */
		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		border: 0.2px solid #010101;
	}

	/* Hide the checkbox */
	.input-check input{
		display:none
	}

	

	/*-------------- Styling the slider --------------------------*/
	input[type=range] {
	  -webkit-appearance: none;
	  width: 100%;
	  margin: 0px 0;
	}
	input[type=range]:focus {
	  outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 9px;
	  cursor: pointer;
	  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
	  background: #4A74AA;
	  border-radius: 0px;
	  border: 0.2px solid #010101;
	}
	input[type=range]::-webkit-slider-thumb {
	  /*box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;*/
	  border: 1.8px solid #00001e;
	  height: 20px;
	  width: 20px;
	  border-radius: 15px;
	  background: #ffffff;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -7.5px;
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
	  background: #4A74AA;
	}
	input[type=range]::-moz-range-track {
	  margin-top: 5px;
	  width: 100%;
	  height: 5px;
	  cursor: pointer;
	  /*box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #0d0d0d;*/
	  background: #4A74AA;
	  border-radius: 1.3px;
	  border: 0.2px solid #010101;
	}
	input[type=range]::-moz-range-thumb {
	  /*box-shadow: 0.9px 0.9px 1px #ffffff, 0px 0px 0.9px #ffffff;*/
	  border: 1.8px solid #00001e;
	  height: 20px;
	  width: 20px;
	  border-radius: 15px;
	  background: #ffffff;
	  cursor: pointer;
	}
	input[type=range]::-ms-track {
	  width: 100%;
	  height: 9px;
	  cursor: pointer;
	  background: transparent;
	  border-color: transparent;
	  color: transparent;
	}
	input[type=range]::-ms-fill-lower {
	  background: #4A74AA;
	  border: 0.2px solid #010101;
	  border-radius: 2.6px;
	   /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
	}
	input[type=range]::-ms-fill-upper {
	  background: #4A74AA;
	  border: 0.2px solid #010101;
	  border-radius: 2.6px;
	  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
	}
	input[type=range]::-ms-thumb {
	  /*box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;*/
	  border: 1.8px solid #00001e;
	  height: 20px;
	  width: 20px;
	  border-radius: 15px;
	  background: #ffffff;
	  cursor: pointer;
	  height: 9px;
	}
	input[type=range]:focus::-ms-fill-lower {
	  background: #4A74AA;
	}
	input[type=range]:focus::-ms-fill-upper {
	  background: #4A74AA;
	}
	
	/* ------------------------ Buttons for timeslider ---------------- */
	.timesliderButton {
		background-color: #4A74AA;
		display: inline-block;
		height:20px;
		width:20px;
		border: none;
		padding: 0px 0px;
		text-align: center;
		font-weight: bold;
		display: inline-block;
		font-size: 12px;
		margin: 2px 2px;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		cursor: pointer;
	}

	.timesliderButton {
		background-color: #4A74AA;
		color: white;
		border: 1px solid #000000;
	}

	.timesliderButton:hover {
		background-color: #A4C4E8;
		color: white;
		border: 1px solid #000000;
	}
	
	/* ------------------------ Other Buttons ---------------- */
	.other_button {
		background-color: #4A74AA;
		display: inline-block;
		border: none;
		padding: 0px 0px;
		text-align: center;
		font-weight: bold;
		display: inline-block;
		font-size: 12px;
		margin: 2px 2px;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		cursor: pointer;
	}

	.other_button {
		background-color: #4A74AA;
		color: white;
		border: 1px solid #000000;
	}

	.other_button:hover {
		background-color: #A4C4E8;
		color: white;
		border: 1px solid #000000;
	}
	
	#snapshot_button{
		position: absolute;
		top: 0;
		right: 0;
		height: 25px;
		width:25px;
		background-color: #A4C4E8;
	}
	#snapshot_button:hover {
		background-color: #4A74AA;
		border: 1px solid #000000;
	}
	
	#snapshot_table{
		width: 100%;
		border: none;	
	}
	
	#showSnapshot{
		width: 90%;	
		float: left;
	}
	
	#delete_snapshots{
		float: right;
		margin-right: 10%;
		-webkit-transition-duration: 0s; /* Safari */
		transition-duration: 0s;
	}
	
	#layer_panel{
		position: absolute;
		top: 7px;
		right: 10px;
		overflow: visible;
		z-index:9999;

	}
	#basemap{
		float: left;
	}
	
	#topographic{
		float: left;
	}
	
	#no_background{
		float: left;
	}
	