	
	html, body { 
		height: 100%; 
		width: 100%; 
		margin: 0; 
		background-color: #ffffff;
	}

	.map {
		margin: 0;
		padding: 0;
		width: 75%;
		height: 100%;
		z-index: -1;
		float: left;
	}	
  
	#menu {
		float: right; 
		width: 25%;
		align: center;
		text-align: center;
	}
	
	#time_slider{
		width: 60%;
	}
	
	.timeslider_button{
		width: 10%;
		display: inline-block;
	}
  
	#drop_zone{
		height: 70px;
		line-height: 70px;
		margin: 10px;
		border: 1px;
		border-style: dashed;
		border-color: #222222;

	}
  
	#canvas_div{
		height: 100%;
		width: 90%;
	}
	
	#myChart{
		height: 100%;
	}
	
	#weekday_div {
		margin-top: 30px;
	margin-bottom: 15px;	
	}
/* Checkoboxes for selecting Weekday */	
	.input-check{
        display:inline-block;
        height:20px;
        padding:0px 0px;
        background:#A4C4E8;
        width:12%;
        color:white
    }
    /* This is the style for a checked "button" */
    .input-check.checked{
        background:#4A74AA;
        color:white;
        font-weight:bold
    }
    /* Hide the checkbox */
    .input-check input{
        display:none
    }