	
	html, body { 
		height: 100%; 
		width: 100%; 
		margin: 0; 
		background-color: #ffffff;
	}

	.map {
		margin: 0;
		padding: 0;
		width: 75%;
		height: 100%;
		z-index: -1;
		float: left;
	}	
  
	#menu {
		float: right; 
		width: 25%;
		align: center;
		text-align: center;
	}
  
	#drop_zone{
		height: 70px;
		line-height: 70px;
		margin: 10px;
		border: 1px;
		border-style: dashed;
		border-color: #222222;

	}
  
	#canvas_div{
		height: 100%;
		width: 90%;
	}
	
	#myChart{
		height: 100%;
	}